<li class="boardroom-member-item" role="listitem" tabindex="0">
  <span class="boardroom-member-avatar-block">
    <img src="[[avatar]]" alt="Avatar of [[name]]" class="boardroom-member-avatar" width="40" height="40">
  </span>
  <div class="boardroom-member-info">
    <div class="boardroom-member-info-row">
      <span class="boardroom-member-name">[[name]]</span>
      <span class="boardroom-member-role">[[role]]</span>
    </div>
    <div class="boardroom-member-status">[[status]]</div>
    <div class="boardroom-member-last-message">[[lastMessageText]]</div>
  </div>
  <span class="boardroom-member-unread" title="Unread messages">[[unreadCount]]</span>
</li>
