<article class="boardroom-message-row [[rowClass]]" aria-label="Chat message from [[name]]">
  <div class="boardroom-message-avatar-block">
    <img src="[[avatar]]" alt="Avatar of [[name]]" class="boardroom-message-avatar" width="40" height="40">
    <div class="boardroom-message-avatar-meta">
      <span class="boardroom-message-avatar-name">[[name]]</span><br>
      <span class="boardroom-message-avatar-role">[[role]]</span>
    </div>
  </div>
  <div class="boardroom-message-content">
    <div class="boardroom-message-bubble [[textClass]]">
      <p>[[text]]</p>
    </div>
    <div class="boardroom-message-meta [[metaClass]]">
      <span class="boardroom-message-timestamp">[[timestamp]]</span>
    </div>
  </div>
</article>
