// Boardroom Message Input - Genesis Ontological SCSS

.boardroom-message-input {
  @include genesis-entity('secondary');         // Input area
  
  .input-field {
    @include genesis-cognition('discourse');    // Text input
  }
  
  .send-button {
    @include genesis-synapse('execute');        // Send action
  }
}
