.mentor-mode {
  textarea {
    width: 100%;
    min-height: 5rem;
    margin-bottom: .5rem;
  }
  .answer {
    background: $gray-100;
    padding: .75rem;
    border-radius: .25rem;
    margin-top: .5rem;
  }
  .new-qa {
    display: flex;
    gap: .5rem;
    margin: 1rem 0;
  }
}