profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .card {
    width: 12rem;
    text-align: center;
    img {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 50%;
      margin: auto;
    }
  }
}