.chat-interface {
  .start-chat {
    margin-bottom: 1rem;
  }
  .chat-window {
    border: 1px solid $gray-300;
    border-radius: .25rem;
    padding: 1rem;
  }
  .messages {
    max-height: 20rem;
    overflow-y: auto;
    margin-bottom: .75rem;
  }
  .msg {
    &.user-to-agent {
      @include text-right;
      color: $primary;
    }
    &.agent-to-user {
      @include text-left;
      color: $success;
    }
    &.agent-to-agent {
      @include text-center;
      color: $warning;
    }
    margin: .25rem 0;
  }
}