// Enterprise-noscript Page - Genesis Ontological SCSS

.enterprise-noscript {
  @include genesis-entity('imperative');        // Warning message
  @include genesis-cognition('discourse');      // Message text
}
