// Features-noscript Page - Genesis Ontological SCSS

.features-noscript {
  @include genesis-entity('imperative');        // Warning
  @include genesis-cognition('discourse');      // Warning text
}
