// Sitemap Page - Genesis Ontological SCSS

.sitemap-page {
  @include genesis-environment('chronological'); // Hierarchical list
  
  .sitemap-header {
    @include genesis-entity('primary');         // Header
    
    h1 {
      @include genesis-cognition('axiom');      // Title
    }
  }
  
  .sitemap-section {
    @include genesis-entity('secondary');       // Section
    
    h2 {
      @include genesis-cognition('motive');     // Section title
    }
    
    .sitemap-list {
      @include genesis-entity('aggregate');     // Link list
      
      a {
        @include genesis-synapse('navigate');   // Page link
      }
    }
  }
}
