// Boardroom page styles
// This file contains only @extend, @include, or Bootstrap utility classes per project rules.
// All custom property declarations must be in the unique class for each element/component.

@import "../../common.asisaga.com/_sass/base/variables" as *;
@import "../../common.asisaga.com/_sass/base/mixins" as *;
@import "../../common.asisaga.com/_sass/base/typography" as *;
@import "../../common.asisaga.com/_sass/base/utilities" as *;

// Boardroom page root
.boardroom-container {
  @extend .container-fluid;
}

.boardroom-section {
  @extend .row;
}

.boardroom-container-fluid {
  @extend .container-fluid;
}

.boardroom-main-row {
  @extend .row;
}

// Toggle strip
.boardroom-members-sidebar-toggle-strip {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .py-2;
  @extend .bg-dark;
}

.boardroom-toggle-members-btn {
  @extend .btn;
  @extend .btn-outline-light;
  @extend .mb-2;
}

.boardroom-other-action-btn {
  @extend .btn;
  @extend .btn-outline-secondary;
  @extend .mb-2;
}

.boardroom-members-sidebar-strip-spacer {
  @extend .flex-grow-1;
}

.boardroom-members-sidebar-toggle-icon {
  @extend .mt-2;
}

// Members sidebar
.boardroom-members-sidebar {
  @extend .col-2;
  @extend .bg-light;
  @extend .d-flex;
  @extend .flex-column;
  @extend .p-0;
}

.boardroom-members-header {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .p-3;
  @extend .border-bottom;
}

.boardroom-members-title {
  @extend .h5;
  @extend .mb-0;
}

.boardroom-invite-member-btn {
  @extend .btn;
  @extend .btn-primary;
}

.boardroom-invite-member-icon {
  @extend .me-1;
}

.boardroom-members-section {
  @extend .flex-grow-1;
  @extend .overflow-auto;
  @extend .p-3;
}

.boardroom-members-search-form {
  @extend .mb-3;
  @extend .position-relative;
}

.boardroom-members-search-input {
  @extend .form-control;
}


// Remove .boardroom-members-search-addon, now handled by .boardroom-members-search-icon in _boardroom-icons.scss

.boardroom-members-list {
  @extend .list-unstyled;
  @extend .mb-0;
}

.boardroom-members-empty-state {
  @extend .text-center;
  @extend .mt-5;
  @extend .text-muted;
}


// Remove .boardroom-members-empty-icon, now handled by .boardroom-members-empty-img in _boardroom-icons.scss

.boardroom-members-empty-title {
  @extend .fw-bold;
}

.boardroom-members-empty-desc {
  @extend .small;
}

// Chat area
.boardroom-chat-area {
  @extend .col;
  @extend .d-flex;
  @extend .flex-column;
  @extend .p-0;
}

.boardroom-chat-header {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .p-3;
  @extend .border-bottom;
}

.boardroom-chat-title {
  @extend .h4;
  @extend .mb-0;
}

.boardroom-chat-status {
  @extend .badge;
  @extend .bg-success;
}

.boardroom-chat-messages {
  @extend .flex-grow-1;
  @extend .overflow-auto;
  @extend .p-3;
}

.boardroom-chat-empty-state {
  @extend .text-center;
  @extend .mt-5;
  @extend .text-muted;
}


// Remove .boardroom-chat-empty-icon, now handled by .boardroom-chat-empty-icon in _boardroom-icons.scss

// Message input
.boardroom-message-input {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .p-3;
  @extend .border-top;
  @extend .bg-light;
}

.boardroom-message-input-avatar {
  @extend .rounded-circle;
  @extend .me-2;
  @extend .border;
}

.boardroom-message-input-field {
  @extend .form-control;
  @extend .me-2;
}

.boardroom-message-input-attach {
  @extend .btn;
  @extend .btn-link;
  @extend .me-2;
}

.boardroom-message-input-emoji {
  @extend .btn;
  @extend .btn-link;
  @extend .me-2;
}

.boardroom-message-input-send {
  @extend .btn;
  @extend .btn-primary;
}
