// Boardroom Members - Genesis Ontological SCSS

.boardroom-members {
  @include genesis-entity('aggregate');         // Members list
  
  .member-item {
    @include genesis-entity('primary');         // Member item
    
    &.active {
      @include genesis-entity('imperative');    // Selected
    }
  }
}
